canvas{
    border: solid 1px black;
    /*border-radius: 10px;*/
}

.slider-group{
    clear: both;
    margin: 10px;
}

.slider-group > label{
    width: 10%;
}

.slider-group > div{
    width: 90%;
    float: right;
}

.slide-panel {
    width: 30%;
    height: 20px;
    /*margin: 5px 0;*/
    border: solid black 1px;
    /*border-radius: 10px;*/
    float: right;
    margin-left: 10px;
}

.slider{
    position: relative;
    /*border-radius: 10px;*/
    width: 80px;
    height: 20px;
    text-align: center;
    color: white;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.slider:hover {
    background-color: gray;
    cursor: pointer;
}

.rotate .slider{
    background-color: red;
}

.translate .slider{
    background-color: green;
}