table tr td{
	padding: 1px 5px;
	border: 1px solid black;
}

.view-panel{
	
}

.content{
	margin: 20px;
}

.column{
	float: left;
}

.form-group{
	width: 400px;
	margin: 10px;
}

.control-group{
	margin: 10px;
}
 
.output{
	margin: 10px;
	width: 100%;
	height: 100%;
	background: #ffeeff;
	border-radius: 10px;
}

.output text{
	margin: 0 3px;
}
