table{
    border-spacing: 1px;
}

td{
    padding-left: 20px;
}

.content {
    margin: 20px;
}

.view-panel, .control-panel {
    margin-top: 30px;
}

.push-right {
    float: right;
}

.push-left {
    float: left;
}

.controls {
    width: 30%;
}

.output {
    width: 70%;
    height: 100%;
    background: #ffeeff;
}

.output text {
    margin: 0 3px;
}
