body {
    background-color: white;
    font-style: italic;
    font-family: monospace;
    font-size: small;
}

#content {
    width: 100%;
}

canvas {
    width: 100%;
    border: solid 1px black;
}

.hint {
    font-size: small;

}

.hidden {
    visibility: hidden;
}

.control-panel {
    padding: 10px 20px 30px 20px;
}

.geometry-parameter {
    width: 24%;
    float: left;
    margin: 0px 2px 15px 8px;
}

.geometry-parameter label{
    padding: 0 30px;
}

.geometry-parameter .slide-panel {
    width: 100%;
    float: right;
}

.geometry-parameter .slider {
    background-color: coral;
}

.projections {
    height: 20px;
    width: 100%;
    margin: auto;
}

.projections div{
    width: 33%;
    float: left;
    text-align: center;
    border: 1px solid lightgray;
}

.projections div:hover{
    cursor: pointer;
    background-color: lightgray;
}

.slider-group {
    clear: both;
}

.slider-group > label {
    width: 15%;
}

.slider-group > div {
    width: 85%;
    float: right;
}

.slide-panel {
    height: 15px;
    border: solid black 1px;
    border-radius: 15px 0;
    float: right;
    margin: 2px;
}

.slider {
    position: relative;
    border-radius: 15px 0;
    width: 90px;
    height: 15px;
    text-align: center;
    color: white;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.slider:hover {
    background-color: lightgray;
    cursor: pointer;
}

.rotate .slider {
    background-color: red;
}

.translate .slider {
    background-color: green;
}

.scaling .slider {
    background-color: blue;
}

.rotate .slide-panel, .translate .slide-panel, .scaling .slide-panel {
    width: 30%;
}