body{
    background-color: black;
}

.status {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    padding: 5px 5px 20px 20px;
    border-left: solid 1px white;
    border-bottom: solid 1px white;
    border-bottom-left-radius: 50px;
    color: white;
    font-family: "DejaVu Sans Mono";
    font-size: small;
}