body{
    background-color: black;
}

.status {
    position: absolute;
    top: 0;
    width: 250px;
    padding: 20px;
    border-right: solid 1px white;
    border-bottom: solid 1px white;
    border-bottom-right-radius: 50px;
    color: white;
    font-family: "DejaVu Sans Mono";
}